<div class="page-header">
  <h1>Editar <%= @singular %></h1>
</div>
<%%= link_to "Volver", <%=  @plural_path %> %> 
<%%= render "form", :<%= @singular %> => @<%= @singular %>, :url => <%=  @singular_path %>(@<%= @singular %>)%>