<div class="page-header">
  <div class="row">
    <div class="span6"><h1>Editar <%= @class %></h1></div>
    <div class="span3" style="text-align:right;">
      <%%= link_to icono('arrow-left', :blanco) + ' Volver', <%= @plural_path %>, :class => 'btn btn-primary btn-large' %>
    </div>
  </div>
</div>

<%%= render "form", :<%= @singular %> => @<%= @singular %>, :url => <%=  @singular_path %>(@<%= @singular %>), :remote => false %>
