<div class="page-header">
  <nav class="pull-right">
    <%%= link_to icono('plus', :blanco) + " Agregar <%= @singular %>", <%= @new_path %>, :class => 'btn btn-primary btn-large' %>
  </nav>
  <h1><%= @classes %></h1>
</div>

<%%= simple_form_for @q, :as => :q, :url => <%= @plural_path %>, :method => :get do |f| %>
  <%%= f.input :<%= @identificador %>_contains, :placeholder => '<%= @identificador.humanize %>', :required => false, :autofocus => true %>
  <%%= f.button :submit, "Buscar", :name => nil, :disable_with => t("espere"), :class => 'btn btn-primary' %>
<%% end %>

<%%= paginate @<%= @plural %>, :theme => :bootstrap %>

<%%= content_tag :table, :id => nombre_tabla(<%= @class %>), :class => [:table, :"table-striped", :ordenable] do %>
  <%%= thead :<%= @identificador %> %>
  <%%= content_tag :tbody, render(@<%= @plural %>) %>
<%% end %>

<%- if @con_orden -%>
<%%= hidden_field_tag :url, <%= @reordenar_path %>, :class => :url %>
<%- end -%>
