<div class="page-header">
  <h1><%= @classes %></h1>
</div>

<nav class="well">
  <%%= button_tag icono('zoom-in') + " Mostrar formulario", :class => :btn, :data => { :toggle => :collapse, :target => '#mini'} %>
  <%%= link_to icono('plus', :blanco) + " Agregar <%= @singular %>", <%= @new_path %>, :class => 'btn btn-primary' %>
</nav>

<%%= render "mini_form", :<%= @singular %> => @<%= @singular %>, :url => <%= @plural_path %> %>

<%%= content_tag :table, :id => @<%= @singular %>.class.name.tableize, :class => [:table, :"table-striped", :ordenable] do %>
  <%%= thead :<%= @identificador %> %>
  <%%= content_tag :tbody, render(@<%= @plural %>) %>
<%% end %>

<%- if @con_orden -%>
<%%= hidden_field_tag :url, <%= @reordenar_path %>, :class => :url %>
<%- end -%>
